@import 'mixins';
:host{
    position: relative;
    width: 100%;
    height: 100%;
    --first-type-color: var(--bug-type-color-shade);
    --second-type-color: var(--bug-type-color-tint);
    display: grid;
    grid-template-columns: 1fr;
    @include respond-to("medium"){
        grid-template-columns: 400px 1fr;
    }
    .pokemon-general{
        position: relative;
        width: 100%;
        height: 304px;
        .image-container{
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            padding: 64px;
            height: calc(100% - 128px);
            background: radial-gradient(ellipse at top left, var(--first-type-color), var(--second-type-color));
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
            border-radius: 0 0 50% 50%;
            img{
                position: relative;
                max-width:100%;
                max-height:100%;
            }
        }
        .title{
            font-size: 32px;
            font-weight: bold;
            padding-top: 16px;
            width: 100%;
            text-align: center;
        }
        .types{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 16px;
            gap: 8px;
        }
    }
}