<div class="headbar">
    <h1>{{mode | titlecase}}</h1>
    <div class="search-container">
        <div class="label"><mat-icon>search</mat-icon>Search by name or id</div>
        <div class="search-form"><input type="text" [(ngModel)]="searchValue"/><mat-icon (click)="goToDetail(searchValue)">arrow_forward</mat-icon></div>
    </div>
</div>
<div class="content" *ngIf="mode === 'pokedex'">
    <ng-container *ngFor="let pokemon of pokemonsPage">
        <poke-pokemon-item [pokemon]="pokemon | async" 
        (pokemonClick)="goToDetail($event.toString())"
        (addWishlistClick)="addToWishlist($event)"
        (addCaughtClick)="addToCaught($event)"
        ></poke-pokemon-item>
    </ng-container>
</div>
<div class="content" *ngIf="mode === 'wishlist'">
    <ng-container *ngIf="(pokemonCacheSvc.wishlist$ | async).length === 0">
        <div>You didn't add any pokemon in your wishlist. Click on <mat-icon>favorite_border</mat-icon> to add one.</div>
    </ng-container>
    <ng-container *ngFor="let pokemon of pokemonCacheSvc.wishlist$ | async">
        <poke-pokemon-item [pokemon]="pokemon | async" 
        (pokemonClick)="goToDetail($event.toString())"
        (addWishlistClick)="addToWishlist($event)"
        (addCaughtClick)="addToCaught($event)"
        ></poke-pokemon-item>
    </ng-container>
</div>
<div class="content" *ngIf="mode === 'caught'">
    <ng-container *ngIf="(pokemonCacheSvc.caughtList$ | async).length === 0">
        <div>You didn't catch any pokemon. Click on <mat-icon>catching_pokemon</mat-icon> to catch one. Gotta Catch 'Em All!</div>
    </ng-container>
    <ng-container *ngFor="let pokemon of pokemonCacheSvc.caughtList$ | async">
        <poke-pokemon-item [pokemon]="pokemon | async" 
        (pokemonClick)="goToDetail($event.toString())"
        (addWishlistClick)="addToWishlist($event)"
        (addCaughtClick)="addToCaught($event)"
        ></poke-pokemon-item>
    </ng-container>
</div>
<div class="footer">
    <div [ngClass]="{'change-mode-container': true, 'padding-bottom': mode !== 'pokedex'}">
        <div class="all" (click)="mode = 'pokedex'"><mat-icon>apps</mat-icon>Show All</div>
        <div class="wishlist" (click)="mode = 'wishlist'"><mat-icon>favorite_border</mat-icon>Wishlist</div>
        <div class="caught" (click)="mode = 'caught'"><mat-icon>catching_pokemon</mat-icon>Caught</div>
    </div>
    <mat-paginator
        *ngIf="mode === 'pokedex'"
        [length]="pokemonCacheSvc.pagination?.count"
        [pageSize]="pokemonCacheSvc.pagination?.itemsPerPage"
        [disabled]="isLoadingPage$ | async"
        (page)="loadPage($event.pageIndex)"
    ></mat-paginator>
</div>
